<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd   
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

	<import resource="databaseContext.xml" />
	<import resource="securityContext.xml" />
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/dev.properties</value>
				<value>/WEB-INF/parameters.properties</value>
			</list>
		</property>
	</bean>

	<context:component-scan base-package="com.livedoc" />

	<bean id="org.dozer.Mapper" class="org.dozer.DozerBeanMapper">
		<property name="mappings">
			<list>
				<bean class="com.livedoc.bl.dozer.MapperBuilder" />
			</list>
		</property>
	</bean>

	<bean id="xsltSystemIdProvider" class="com.livedoc.bl.common.XsltSystemIdProvider">
	</bean>

	<bean id="stylesheetSource" class="javax.xml.transform.stream.StreamSource">
		<property name="systemId">
			<bean factory-bean="xsltSystemIdProvider" factory-method="getSystemId"></bean>
		</property>
	</bean>

	<bean id="transformerFactory" class="javax.xml.transform.TransformerFactory"
		factory-method="newInstance" />

	<bean id="transformer" factory-bean="transformerFactory"
		factory-method="newTransformer">
		<constructor-arg ref="stylesheetSource" />
	</bean>

</beans>